@model PrinterTonerEPCwithAuthentication.Models.PrinterTonerCompatibility

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrinterTonerCompatibility</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Printer.PrinterInternalNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Printer.PrinterInternalNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toner.TonerModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toner.TonerModel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrinterTonerCompatibilityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
