@model PrinterTonerEPCwithAuthentication.Models.ToDo

@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje zadatka</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Radnik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Nick)
        </dd>

        <dt>
            Kreiran
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            Opis posla
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Datum završetka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Closed)
        </dd>

        @*<dt>
            Zatvoren
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsClosed)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" /> |
            @Html.ActionLink("Povratak", "Index")
        </div>
    }
</div>
