@model IEnumerable<PrinterTonerEPCwithAuthentication.Models.ToDo>

@{
    ViewBag.Title = "Index";
}

<h2>Zadaci</h2>

<p>
    @Html.ActionLink("Unesi novi", "Create")
</p>

<style>
    .col1 { width: 110px; }

    .col2 { width: 140px; }
</style>


<table class="table">
    <tr>
        <th>
            Radnik
        </th>
        <th>
            Opis posla
        </th>
        <th>
            Datum završetka
        </th>
        <th>
            Spreman
        </th>
        <th class="col2">
            Kreirano
        </th>
        <th class="col1"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Nick)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Closed))
            @*@Html.DisplayFor(modelItem => item.Closed)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReady)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy HH:mm}", item.Created))
            @*@Html.DisplayFor(modelItem => item.Created)*@
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.ToDoID }) |  
            @Html.ActionLink("Izbriši", "Delete", new { id=item.ToDoID })
        </td>
    </tr>
}

</table>
