@model PrinterTonerEPCwithAuthentication.Models.MakeToner

@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Od
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.OwnerName)
        </dd>

        <dt>
            Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toner.TonerModel)
        </dd>

        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeTonerDate)
        </dd>

        <dt>
            Količina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeTonerQuantity)
        </dd>

        <dt>
            Cena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeTonerPrice)
        </dd>

        <dt>
            Napomena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Brisanje" class="btn btn-default" /> |
            @Html.ActionLink("Povratak", "Index")
        </div>
    }
</div>
