@model IEnumerable<PrinterTonerEPCwithAuthentication.Models.MakeToner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owner.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toner.TonerModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakeTonerDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakeTonerQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakeTonerPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toner.TonerModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakeTonerDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakeTonerQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakeTonerPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MakeTonerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MakeTonerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MakeTonerID })
        </td>
    </tr>
}

</table>
