@model PrinterTonerEPCwithAuthentication.Models.ComplaintToner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComplaintToner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Toner.TonerModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toner.TonerModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintTonerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintTonerDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComplaintTonerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
