@model IEnumerable<PrinterTonerEPCwithAuthentication.Models.ComplaintToner>

@{
    ViewBag.Title = "Index";
}

<h2>Pregled reklamacija</h2>

<p>
    @Html.ActionLink("Unesi novu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Model tonera
        </th>
        <th>
            Datum
        </th>
        <th>
            Podnosilac reklamacije
        </th>
        <th>
            Primalac reklamacije
        </th>
        <th>
            Količina
        </th>
        <th>
            Završena reklamacija
        </th>
        <th>
            Napomena
        </th>
        <th>
            Kreirano
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Toner.TonerModel)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ComplaintTonerDate))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintFromOwner.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintToOwner.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintTonerQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReady)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.ComplaintTonerID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ComplaintTonerID }) |*@
            @Html.ActionLink("Izbriši", "Delete", new { id=item.ComplaintTonerID })
        </td>
    </tr>
}

</table>
