@model PrinterTonerEPCwithAuthentication.Models.Treasury

@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje stavke u kasi</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FullName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.AmountRSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountRSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountEUR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountEUR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Povratak", "Index")
        </div>
    }
</div>
