@model IEnumerable<PrinterTonerEPCwithAuthentication.Models.Treasury>

@{
    ViewBag.Title = "Index";
}

<h2>Ukupan iznos u kasi je @TempData["treasurySumRSD"] dinara i @TempData["treasurySumEUR"] evra</h2>

<p>
    @Html.ActionLink("Dodaj iznos", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Iznos RSD
        </th>
        <th>
            Iznos €
        </th>
        <th>
            Tip troška
        </th>
        <th>
            Napomena
        </th>
        <th>
            Kreirano
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AmountRSD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountEUR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Created)*@
            @Convert.ToString(string.Format("{0:dd/MM/yyyy HH:mm}", item.Created))
        </td>
        <td>
            @Html.ActionLink("Izmena", "Edit", new { id=item.TreasuryID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.TreasuryID }) |*@
            @Html.ActionLink("Izbriši", "Delete", new { id=item.TreasuryID })
        </td>
    </tr>
}

</table>
