@{
    ViewBag.Title = "ManageUserRoles";
}

<h2>Ažuriranje nivoa pristupa</h2>
@Html.ActionLink("Napravi novi nivo", "Create") | @Html.ActionLink("Ažuriraj nivoe", "ManageUserRoles")
<hr />

<h2>Dodavanje nivoa korisniku</h2>

@using (Html.BeginForm("RoleAddToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Korisnik : @Html.TextBox("UserName")
        Nivo pristupa: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Izaberi ...")

    </p>

    <input type="submit" value="Izmeni" />
}
<hr />
<h3>Prikaz svih nivoa korisnika</h3>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        Korisnik : @Html.TextBox("UserName")
        <input type="submit" value="Prikaz svih nivoa za korisnika" />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:yellow;">
        <h3>Roles for this user </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3>Izbrisati nivo kod korisnika</h3>

@using (Html.BeginForm("DeleteRoleForUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Korisnik : @Html.TextBox("UserName")
        Nivo pristupa: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Izaberi ...")

    </p>

    <input type="submit" value="Izbriši" />
}