
@{
    ViewBag.Title = "DataEntry";
}

<h2>Odaberi željeni unos podataka</h2>

<li>@Html.ActionLink("Firma", "Index", "Owners")</li>
<li>@Html.ActionLink("Štampač", "Index", "Printers")</li>
<li>@Html.ActionLink("Toner", "Index", "Toners")</li>
<li>@Html.ActionLink("Ugovor", "Index", "Contracts")</li>
<li>@Html.ActionLink("Reklamacije", "Index", "ComplaintToners")</li>

