@model IEnumerable<PrinterTonerEPCwithAuthentication.Models.ToDo>

@{
    ViewBag.Title = "Index";
}

<div style="text-align: center; "><h4>Ukupan broj štampača na renti je @ViewData["CountRentedPrinters"]</h4></div>

<style>
    .col1 {
        width: 150px;
    }
</style>

<table class="table">
    <tr>
        <th>
            Radnik
        </th>
        <th>
           Opis posla
        </th>
        <th>
            Spreman
        </th>
        <th class="col1">
            Kreiran
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.Nick)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReady)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy HH:mm}", item.Created))
            @*@Html.DisplayFor(modelItem => item.Created)*@
        </td>
        <td>
            @Html.ActionLink("Izmeni", "EditFromHomeView", "ToDoes", new { id = item.ToDoID }, null)
        </td>
    </tr>
}

</table>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="~/Sales/SalesReportByOwner">Izveštaj br.1 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="~/Contracts/InactiveOwners">Izveštaj br.2 &raquo;</a></p>
        <p>Neaktivni ugovori</p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="~/PrinterTonerCompatibilities/Index">Izveštaj br.3 &raquo;</a></p>
        <p>Kompatibilnost tonera i štampača</p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-success" href="~/SaleToners/LastTonerSale">Izveštaj br.4 &raquo;</a></p>
        <p>Pregled poslednjeg izlaza tonera po modelu ili firmi</p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-success" href="~/SaleToners/TonerAlarm">Izveštaj br.5 &raquo;</a></p>
        <p>Alarm (ne)aktivnosti firme</p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-success" href="~/SaleToners/TotalTonerSale">Izveštaj br.6 &raquo;</a></p>
        <p>Ukupan broj prodatih tonera za željeni period</p>
    </div>
</div>