@model PrinterTonerEPCwithAuthentication.Models.Sale

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contract.ContractName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.ContractName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Printer.PrinterInternalNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Printer.PrinterInternalNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateContract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateContract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SaleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
