@model PrinterTonerEPCwithAuthentication.Models.Sale

@{
    ViewBag.Title = "Details";
}

<h2>Detalji kretanja tonera</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Contract.ContractName)*@
            Ugovor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.ContractName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Printer.PrinterInternalNo)*@
            Interni broj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Printer.PrinterInternalNo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.SaleDate)*@
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDate)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Price)*@
            Cena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.AlternateContract)*@
            Novi ugovor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateContract)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Remark)*@
            Napomena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Created)*@
            Kreiran
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmena", "Edit", new { id = Model.SaleID }) |
    @Html.ActionLink("Povratak", "Index")
</p>
