@model IEnumerable<PrinterTonerEPCwithAuthentication.Models.Sale>

@{
    ViewBag.Title = "Index";
}

<h2>Kretanje štampača</h2>

<p>
    @Html.ActionLink("Unesi novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ugovor broj
            @*@Html.DisplayNameFor(model => model.Contract.ContractName)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Printer.PrinterInternalNo)*@
            Interni broj
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Printer.PrinterInternalNo)*@
            Proizvođač
        </th>
        <th>
            Model
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SaleDate)*@
            Serijski broj
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Price)*@
            Vrednost €
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AlternateContract)*@
            Prethodni ugovor
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Remark)*@
            Napomena
        </th>
        <th>
            Datum@*@Html.DisplayNameFor(model => model.Created)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contract.ContractName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Printer.PrinterInternalNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Printer.PrinterManufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Printer.PrinterModel)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Printer.PrinterSerialNo))
            @*@Html.DisplayFor(modelItem => item.SaleDate)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlternateContract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Created)*@
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SaleDate))
        </td>
        <td>
            @Html.ActionLink("Izmena", "Edit", new { id=item.SaleID }) |
            @*@Html.ActionLink("Detalji", "Details", new { id=item.SaleID }) |*@
            @Html.ActionLink("Briši", "Delete", new { id=item.SaleID })
        </td>
    </tr>
}

</table>
