@model IEnumerable<PrinterTonerEPCwithAuthentication.Models.TonerTotal>

@{
    ViewBag.Title = "TotalTonerSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ukupan broj prodatih tonera za željeni period: @ViewData["CountSoldToners"]</h2>

@using (Html.BeginForm())
{ <p> Datum od: @Html.TextBox("dateFromString", "", new { @class = "date-picker" }) Datum do: @Html.TextBox("dateToString", "", new { @class = "date-picker" }) <input type="submit" value="Search" /></p> }

<table class="table">
    <tr>
        <th>
            Toner
        </th>
        <th>
            Ukupno
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTonerModel)
            </td>
            <td>
                @item.TonerTotalCount
            </td>
        </tr>
    }

</table>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.date-picker').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>

}  